/* carousel */

.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  padding: 30px;
  height: 300px;
  margin: 60px auto 0 auto;
  border-radius: 20%;
}

.carousel a {
  margin: 0 auto;
}

.carousel button {
  width: 25px;
  border: 1px solid black;
  margin: 15px 5px 10px 0;
}
